body {
    background-color: rgb(248, 237, 141);


     font-family: Garamond, sans-serif;
}

h1 { color: rgb(81, 145, 204); }  /* Sets color for all H1 headings */
h1 {font-family: Brush Script MT, sans-serif;}

